/* app container */
div.yourtype#app-container {
  padding: 20px;
  width: 300px;
  background: #FFFFFF;
  color: #1A2529;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
}

div.yourtype#app-container div.yourtype#close-yourtype {
  float: right;
}

div.yourtype#app-container span.yourtype#currently-editing strong {
  color: #DA3435;
}

div.yourtype#app-container div.yourtype.edit-class#classes-to-select {
  text-align: center;
  padding: 20px 0;
}

div.yourtype#app-container div.yourtype.edit-class#classes-to-select span.yourclass {
  padding: 5px;
  color: #DA3435;
  border: 1px solid #DA3435;
  border-radius: 2px;
  margin-right: 3px;
  font-weight: 600;
}

div.yourtype#app-container div.yourtype.edit-class#classes-to-select span.yourclass:last-child {
  margin-right: 0;
}

/* app form */
div.yourtype#app-container form.yourtype#form-container {
  width: 100%;
}

/* css container */
div.yourtype div.yourtype#css-container {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0 0 0;
  font-size: 12px;
}

/* textarea for css results */
div.yourtype div.yourtype#css-container pre.yourtype#css-results {
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 3px;
  margin: 0;
}

/* shared styles */
div.yourtype#app-container form.yourtype#form-container table.yourtype tbody.yourtype tr.yourtype td.yourtype label.yourtype,
div.yourtype#app-container div.yourtype#css-container label.yourtype {
  display: inline-block;
  margin: 0 0 5px 0;
}

div.yourtype#app-container form.yourtype#form-container select.yourtype#font-family,
div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#font-size,
div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#line-height,
div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#font-weight,
div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#font-color,
div.yourtype#app-container form.yourtype#form-container select.yourtype#font-style {
  display: inline-block;
  height: 25px;
  width: 100%;
}

div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#font-size,
div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#line-height,
div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#font-weight,
div.yourtype#app-container form.yourtype#form-container input[type="text"].yourtype#font-color {
  box-sizing: border-box;
  padding: 1px 3px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
  font-size: 10px;
}