/* app container */
div#app-container.yourtype {
  padding: !important;
  width: 250px!important;
  box-sizing: border-box!important;
  background: #364047!important;
  border-radius: 3px!important;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .3)!important;
  padding: 15px!important;
}

div#app-container.yourtype,
div#app-container.yourtype * {
  color: #FFFFFF!important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
  font-size: 12px!important;
  text-shadow: 0 1px 0 #000000!important;
}

div#close-yourtype.yourtype {
  float: right!important;
}

span#currently-editing.yourtype {
  margin-bottom: 10px!important;
  display: inline-block!important;
}

span#currently-editing.yourtype strong.yourtype {
  color: #F2594B!important;
}

/*Label Styles*/
form#form-container.yourtype label.yourtype {
  color: #d2d8dc!important;
}

form#form-container.yourtype label.yourtype,
div#css-container.yourtype label.yourtype  {
  display: inline-block!important;
  margin-top: 15px!important;
}

div#css-container.yourtype pre#css-results.yourtype {
  color: #F2594B!important;
}

div#css-container.yourtype label.yourtype {
  color: #FFFFFF!important;
}

form#form-container.yourtype label.yourtype:first-child {
  margin-top: 0!important;
}


form#form-container.yourtype div#info.yourtype {
  display: inline!important;
  font-size: 10px!important;
  padding: 1px 3px!important;
  background: #45515a!important;
  border: 1px solid #3e4850!important;
}

form#form-container.yourtype div#info.yourtype.tooltip {
  display: inline!important;
  position: relative!important;
}

form#form-container.yourtype div#info.yourtype.tooltip:hover:after {
  background: #fbceca!important;
  text-shadow: none!important;
  border-radius: 3px!important;
  color: #364047!important;
  content: "You may need to install these fonts to your computer in order to see font changes take effect."!important;
  padding: 15px!important;
  z-index: 1000000000!important;
  width: 150px!important;
  position: absolute!important;
  bottom: -50px!important;
  left: 20px!important;
}


form#form-container.yourtype select#font-family.yourtype {
  margin-top: 5px!important;
  box-sizing: border-box!important;
  background:  #364047!important;
  border: 1px solid #6a7c8a!important;
  padding: 5px!important;
  color: #FFFFFF!important;
  display: inline-block!important;
  width: 100%!important;
  border-radius: 3px!important;
}

/*Input Styles*/
form#form-container.yourtype input#font-size.yourtype,
form#form-container.yourtype input#font-weight.yourtype,
form#form-container.yourtype input#line-height.yourtype,
form#form-container.yourtype input#font-color.yourtype {
  margin-top: 5px!important;
  box-sizing: border-box!important;
  background:  #364047!important;
  border: 1px solid #6a7c8a!important;
  padding: 5px!important;
  color: #FFFFFF!important;
  display: inline-block!important;
  width: 100%!important;
  border-radius: 3px!important;
}

div#classes-to-select.yourtype.edit-class {
  text-align: center!important;
}

/* Classes Being Edited */
div#classes-to-select.yourtype.edit-class span.yourtype {
  color: #F2594B!important;
  border: 1px solid #F2594B!important;
  padding: 1px 3px!important;
  border-radius: 3px!important;
  display: inline-block!important;
  margin-bottom: 15px!important;
} 

