<!-- font family -->
<label class="yourtype" for="font-family">Font Family</label>
<select class="yourtype" id="font-family">
  <% _.each(fonts, function (font) { %>
  <option class="yourtype" val="<%- font.name %>"><%- font.name %></option>
  <% }); %>
</select>
<!-- font size -->
<label class="yourtype" for="font-size">Font Size</label>
<input type="text" class="yourtype" id="font-size">
<!-- font weight -->
<label class="yourtype" for="font-weight">Font Weight</label>
<input type="text" class="yourtype" id="font-weight">
<!-- font color -->
<label class="yourtype" for="font-color">Font Color</label>
<input type="text" class="yourtype" id="font-color">
<!-- font style -->
<label class="yourtype" for="font-style">Font Style</label>
<select class="yourtype" id="font-style">
  <option class="yourtype" val="none">None</option>
  <option class="yourtype" val="italics">Italics</option>
  <option class="yourtype" val="lowercase">Underline</option>
</select>